<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<title> Spring Quiz - Home</title>
</head>
<body>
<header class="w3-container" style="background-color: #5edce36e;">
	<img  th:src="@{/images/quizapp.png}" alt="Quiz Application" style="height: 100px; width: 100px; display: block; margin: 10px auto;">
</header>
	<nav
	 	th:replace="~{fragments/Navigation :: topBar}" >
	 </nav>
	<div class="w3-container w3-padding-large" align="center">
		<h2 th:text = "${'Welcome ' + session.userFirstName}"> </h2>
	</div>
	<div class="w3-container w3-padding-large " align="center">
		<a th:href="@{/quiz/start}" class="w3-btn w3-large " style="background-color: #a88ef3">Start Quiz</a>
	</div>
<div class="message" align="center">
	<p th:text="${message}"></p>
</div>
	<footer
		th:replace="~{fragments/HeaderAndFooter :: footer}">
	</footer>
</body>
</html>